* !text !filter !merge !diff
/package-lock.json filter=lfs diff=lfs merge=lfs -text
/public/img/avatar-og.png filter=lfs diff=lfs merge=lfs -text
/public/img/projects/project-1-icon.png filter=lfs diff=lfs merge=lfs -text
/public/img/projects/project-2-icon.png filter=lfs diff=lfs merge=lfs -text
/public/img/projects/project-3-icon.png filter=lfs diff=lfs merge=lfs -text
/public/img/projects/project-4-icon.png filter=lfs diff=lfs merge=lfs -text
/public/img/projects/project-5-icon.png filter=lfs diff=lfs merge=lfs -text
/public/img/projects/project-7-icon.png filter=lfs diff=lfs merge=lfs -text
/public/img/projects/project-9-icon.png filter=lfs diff=lfs merge=lfs -text
/public/img/resume-photo.png filter=lfs diff=lfs merge=lfs -text
/public/img/IMG_Me.png filter=lfs diff=lfs merge=lfs -text
/public/img/IMG_Me_1.png filter=lfs diff=lfs merge=lfs -text
/public/img/projects/SlumberLand_Icon.png filter=lfs diff=lfs merge=lfs -text
/public/vid/movie480_vp9.webm filter=lfs diff=lfs merge=lfs -text
/public/vid/movie_max_vp9.webm filter=lfs diff=lfs merge=lfs -text
/public/img/projects/DontLetThemEatCake_Gameplay1.jpg filter=lfs diff=lfs merge=lfs -text
/public/img/projects/DontLetThemEatCake_Gameplay2.jpg filter=lfs diff=lfs merge=lfs -text
/public/img/projects/DontLetThemEatCake_Gameplay3.jpg filter=lfs diff=lfs merge=lfs -text
/public/img/projects/DontLetThemEatCake_Gameplay4.jpg filter=lfs diff=lfs merge=lfs -text
/public/img/projects/Replaceable_Gameplay1.jpg filter=lfs diff=lfs merge=lfs -text
/public/img/projects/Replaceable_Gameplay2.jpg filter=lfs diff=lfs merge=lfs -text
/public/img/projects/Replaceable_Gameplay3.jpg filter=lfs diff=lfs merge=lfs -text
/public/img/projects/Slumberland_Icon_Game1.png filter=lfs diff=lfs merge=lfs -text
/public/img/projects/Slumberland_Icon_Game2.png filter=lfs diff=lfs merge=lfs -text
/public/img/projects/Slumberland_Icon_Game3.png filter=lfs diff=lfs merge=lfs -text
/public/img/projects/Slumberland_Icon_Game4.png filter=lfs diff=lfs merge=lfs -text
/public/img/projects/Underfed_Gameplay1.jpg filter=lfs diff=lfs merge=lfs -text
/public/img/projects/Underfed_Gameplay2.png filter=lfs diff=lfs merge=lfs -text
/public/img/projects/Underfed_Gameplay3.png filter=lfs diff=lfs merge=lfs -text
/public/img/projects/Underfed_Icon.png filter=lfs diff=lfs merge=lfs -text
